html,
body,
header,
.view.jarallax {
    height: 100%;
    min-height: 100%;

}

#home {
    background-image: url('../../img/custom/rain.gif');
}

.gif {
    width: 350px;
}

.gif:hover {
    transform: scale(1.2);
}